@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Poppins:wght@400;500;700&display=swap');
/* 
font-family: "DM Sans", sans-serif;
font-family: "Poppins", sans-serif; 
*/

/*outline helpers*/
/* * {
    border: 1px dashed rgb(71, 75, 138);
} */

:root {
    --black: #171718;
    --black-border: #26292D;
    --purple: #5C62EC;
    --white: #fff;

    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
}
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

html,
body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    color: var(--text-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


.title-2 {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    color: var(--accent);
    letter-spacing: 1.5px;
}


.title-3 {
    font-size: 30px;
    line-height: 1.3;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 1.5;
    font-weight: 500;
    background-color: var(--accent);
    border-radius: 5px;
}

a.btn__outline {
    height: 48px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border: 1px solid var(--dark-border);
    border-radius: 5px;
    padding: 12px 20px;
    color: var(--black)

}

.btn__outline:hover {
    box-shadow: 0 0 10px 7px rgba(92, 98, 236, 1);
}


.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.btn:active,
.btn__outline:active {
    position: relative;
    top: 2px;
}

/* nav section */

.nav {
    letter-spacing: normal;
    background-color: var(--dark-bg);
    color: var(--header-text);
    padding: 20px 0;
    border-bottom: 1px solid var(--dark-border);
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}

.logo {
    color: var(--header-text);
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.logo strong {
    font-weight: 700;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
    opacity: 0.8;
    border-bottom: 2px solid var(--accent);
}

.nav-list__link--active {
    position: relative;
}


.nav-list__link--active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* header section */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 695px;
    padding: 40px 0px;

    background-color: var(--dark-bg);
    background-image: url("../img/headerBg.png");
    background-repeat: no-repeat;
    background-position: center center;

    color: var(--header-text);
}

.header__wrapper {
    max-width: 670px;
    padding: 0 15px;
}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 1.4;
    font-weight: 700;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    font-size: 18px;
    line-height: 1.333;
    margin-bottom: 40px;
}

.header__text p+p {
    margin-top: 0.5em;
}



/* main section Projects */

.mainSection {
    padding: 70px 0;
}

.mainSection__title {
    font-family: "DM Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 1.5px;
    text-align: center;
    color: var(--accent);
    margin-bottom: 60px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;

}

.project {
    max-width: 370px;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.project img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    padding: 15px 20px 25px 20px;
    color: var(--text-color);
}

/* end of main section Projects */

/* project-page.html start*/
.project__details {
    max-width: 865px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.project__details img {
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    max-width: 100%;
    border-radius: 10px;
}

.project__details_text {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
}



/* project-page.html end*/

/* skills page starts */

.skills,
.contacts {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
}

.skills__list,
.contacts__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.skills__list_item,
.contacts__list_item {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
}

.skills__list_item p + p,
.contacts__list_item p + p {
    margin-top: 30px;
}

.skills a,
.contacts a {
    color: var(--black);
    text-decoration: none;
}
/* skills page ends */

/*footer section start*/
.footer {
    background-color: var(--dark-bg);
    color: var(--white);
    padding-top: 60px;
    padding-bottom: 50px;
}

.footer__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 27px;
}

.social__item {}

.footer__copyright {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.5px;
}

/*footer section end*/

/* mobile */

@media (max-width: 620px) {
    .title-2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .title-3  {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .mainSection p {
        font-size: 16px;
    }
    .header {
        min-height: unset;
    }
    .header__title {
        font-size: 30px;
    }
    .header__title strong {
        font-size: 40px;
    }
    .mainSection {
        padding-top: 35px;
    }
    .mainSection__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .footer {
        padding-top: 25px;
        padding-bottom: 20px;
    }

    .social {
        column-gap: 20px;
    }
    .social__item {
        width: 28px
    }

    .contacts__list {
        row-gap: 20px;
    }

    .project__details {
        gap: 15px;
    }
}



